@import "tailwindcss";

@layer base {
    :root {
        font-family: "Courier New", Courier, monospace;
        @apply text-[rgba(255,255,255,0.87)] bg-[#242424];
    }
}

@layer components {
    button {
        @apply bg-red-900 hover:bg-red-950 text-white font-bold;
    }
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    opacity: 0.05;
    background: red;
    background-size: 256px;
    pointer-events: none;
}

@media (prefers-reduced-motion) {
    *,
    ::before,
    ::after {
        animation: none !important;
    }
}
